.bluecard {
    border: 2px solid black;
    padding: 2px;
    display: inline-block;
    background-color: lightsteelblue;
}

.greencard {
    border: 2px solid black;
    display: inline-block;
    background-color: darkseagreen;
}

.redcard {
    border: 2px solid black;
    padding: 2px;
    display: inline-block;
    background-color: indianred;
}

.purplecard {
    border: 2px solid black;
    padding: 2px;
    display: inline-block;
    background-color: mediumpurple;
}

.cardhouse {
/*    border: 1px solid red;*/
    display: inline-block;
    margin: auto;
    width: 66%;
    min-width: 30px;
    height 66%;
    padding: 2px;
}

.cardsleeve {
/*    border: 1px solid blue;*/
    display: inline-block;
    width: 19%;
    margin: 0;
    text-align: center;
}

#wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

#playarea {
    border: 1px solid green;
    width: 70%;
    float: left;
}

#logarea {
    border: 1px solid lightgrey;
    width: 20%;
    float: left;
    padding: 2px;
    /*need to fix height*/
    max-height: 400px;
    overflow-y: auto;
}

.logpost {
    border-bottom: 1px solid lightgrey;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

#opponentsarea {
/*    border: 1px solid blue;*/
    height: 20%;
}

.opponent {
    float: left;
    width: 33%;
    text-align: center;
}

#playerarea {
    border: 1px solid fuchsia;
    height: 30%;
}

#board {
/*    border: 1px solid green;*/
    height: 50%;
}