body {
    background-color: burlywood;
    margin: 0;
}

.bluecard {
    border-radius: 2px;
    border: 2px solid black;
    display: inline-block;
    background-color: lightsteelblue;
}

.greencard {
    border-radius: 2px;
    border: 2px solid black;
    display: inline-block;
    background-color: darkseagreen;
}

.redcard {
    border-radius: 2px;
    border: 2px solid black;
    display: inline-block;
    background-color: indianred;
}

.purplecard {
    border-radius: 2px;
    border: 2px solid black;
    display: inline-block;
    background-color: mediumpurple;
}

.cardhouse {
    border: 1px solid black;
    border-radius: 2px;
    background-color: beige;
    display: inline-block;
    margin: auto;
    width: 50%;
    min-width: 30px;
    height 66%;
    padding: 4px;
}

.cardsleeve {
    display: inline-block;
    width: 19%;
    margin: 0;
    text-align: center;
}

#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background-color: darkgreen;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

#playarea {
    margin-top: 5%;
    width: 70%;
    float: left;
}

#logarea {
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 18%;
    float: left;
    padding: 2px;
    overflow-y: auto;
    height: 75%;
    position: fixed;
    margin-top: 5%;
    margin-left: 57%;
    background-color: aliceblue;
}

.logpost {
    border-bottom: 1px solid lightgrey;
}

#opponentsarea {
/*    border: 1px solid blue;*/
    height: 20%;
    margin: 2%
}

.opponent {
    margin: .05%;
    float: left;
    width: 33%;
    text-align: center;
    background-color: beige;
}

#playerarea {
    background-color: beige;
    height: 30%;
}

#board {
/*    border: 1px solid green;*/
    height: 50%;
    margin: 2%;
}

.opponent:hover + .opponentinfo {
    display: block;
}

.opponentinfo {
    display: none;
    position: absolute;
    background-color: beige;
    border: 3px solid black;
    border-radius: 4px;
    top: 32%;
    left: 22%;
    width: 30%;
    height: 15%;
}

button {
    margin: 2% 5%;
}