.bluecard {
    background-color: blue;
}

.greencard {
    background-color: green;
}

.redcard {
    background-color: red;
}

.purplecard {
    background-color: purple;
}

.cardhouse {
    height: 33%;
    width: 11%;
}

.board {
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 20%;
}